body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  background-color: #322837;
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 500px;
  margin: 40px auto;
  gap: 2px;
  padding: 0 10px;
}

.flex-item {
  background: rgb(93, 229, 159);
  border: 1px solid #000;
  width: 20px;
  transition: height 0.1s ease, background 0.3s ease;
}

.row {
  margin: 0;
}

#input {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  gap: 20px;
  flex-wrap: wrap;
}

button {
  font-weight: bold;
}
